<template>
<div>
  <div>
    <header>
      <div class="top-div">
        <ul>
          <li>C-25, Sector 8, Noida, Uttar Pradesh 201301</li>
          <li><a href="http://+91-85%2006%2002%2088%2088/">+91-85 06 02 88 88</a></li>
          <li><a href="http://saas@crisptag.com/">saas@crisptag.com</a></li>
          <li><a href="https://linkedin.com/company/crisptag">company/crisptag</a></li>
        </ul>
      </div>
      <nav class="container">
        <div class="logo">
        </div>
        <div class="2">
        <a href="#" class="navLinks">Our Offerings</a>
        </div>
        <div class="3">
        <a href="#" class="navLinks">Membership Plans</a>
        </div>
        
        <div class="4">
        <a href="#" class="navLinks">Why we?</a>
        </div>
        <div class="5">
        <a href="#" class="navLinks">About Us</a>
        </div>
        <div class="6">
        <a href="#" class="navLinks">Blogs</a>
        </div>
      </nav>
    </header>
  </div>
<div id="container1">

  <div id="leftPart">
    
    <div><h1 class="second-heading">Best Discounts On Software You Love Under One Shop</h1></div>
    <div><a href="#" class="paragraph">We, at Crisptag Technologies (A  Startup India recognised startup and incubated by NASSCOM 10,000 Startups) have partnered with Google, Microsoft, Namecheap, ZOHO, Freshworks to provide you best discounts on software under one shop.</a></div>
  </div>
  <div id="rightPart">
   <img id="image1" src="https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Hero-Home-page-new.png?w=539&ssl=1%20539w,%20https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Hero-Home-page-new.png?resize=300%2C300&ssl=1%20300w,%20https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Hero-Home-page-new.png?resize=100%2C100&ssl=1%20100w,%20https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Hero-Home-page-new.png?resize=150%2C150&ssl=1%20150w" >
  </div>
</div>



<div class="row">
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image2" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4351528.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  

  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image3" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4351528.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image4" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4351528.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  
 <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image5" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4351528.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
</div>
<div class="row">
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image5" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4040274.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image6" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4040274.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image7" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/4040274.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image8" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/3826026.jpg?resize=768%2C768&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
</div>
<div class="row">
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img id="image9" src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/1766-scaled.jpg?resize=768%2C614&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/1766-scaled.jpg?resize=768%2C614&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
   </div>
  
  <div class="column">
    <a href="#">
      <div class="card">
        <div class="img">
          <img src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/09/1766-scaled.jpg?resize=768%2C614&ssl=1">
        </div>
        <div class="title">
          <h4>Marketing</h4>
          <h4>Solution</h4>
        </div>
      </div>
    </a>
  </div>
</div>
  <div class="middle3">
    <a href="#" id="text"><div class="inner-middle3">VIEW ALL SOFTWARE PRODUCTS</div></a>
  </div>

<div id="container">
  
    
      <div id="leftThing">
        <img src="https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Intro-Home-page-new.png?fit=539%2C539&amp;ssl=1">
      </div>
      <div id="rightThing">
        <div><h3 class="first-heading">Why choose us ?</h3></div>
        <div><h1 class="second-heading">We Help you cut costs That Help Your Business Grow</h1></div>
        <div><p class="paragraph">Upto 30% savings when you buy/renew subscriptions through us.</p></div>
      </div>
    
  
</div>

  <div id="container3">
    
      <div id="leftThing">
        <div id="div1">
          <h3>Deals Like Never Before</h3>
          <h2>Attractive Discounts</h2>
          <p>Whether you are an individual, a startup, a enterprise or a incubator we provide you the best deals on the softwares you need for your businesses.</p>
        </div> 
        <br>
        <div id="div2">
          <h3>We Care For Your Business</h3>
          <h2>Save Huge Costs</h2>
          <p>Have lesser transactions now with single invoice for all your purchases enabling lesser accounting costs.  Also, we give you monthly billing with you having to pay for having a number of user per month.</p>
        </div> 
        <br>
        <div id="div3">
          <h3>Deals Like Never Before</h3>
          <h2>Attractive Discounts</h2>
          <p>Whether you are an individual, a startup, a enterprise or a incubator we provide you the best deals on the softwares you need for your businesses.</p>
        </div> 
        <br>
        <div id="div4">
          <h3>Deals Like Never Before</h3>
          <h2>Attractive Discounts</h2>
          <p>Whether you are an individual, a startup, a enterprise or a incubator we provide you the best deals on the softwares you need for your businesses.</p>
        </div> 
        <br>
        <div id="div5">
          <h3>Deals Like Never Before</h3>
          <h2>Attractive Discounts</h2>
          <p>Whether you are an individual, a startup, a enterprise or a incubator we provide you the best deals on the softwares you need for your businesses.</p>
        </div> 
      </div>
      <div id="rightThing">
        <div id="img1">
          <img src="https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Our-Services-pic-1.png?w=430&ssl=1" > 
        </div>
        <div id="img2"> 
          <img src="https://i0.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/Our-Services-pic-2.png?w=507&ssl=1" > 
        </div>
      </div>
  
  </div>
  <div class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h3>COMPANY</h3>
        <ul>
          <li>About us</li>
          <li>Affiliate</li>
          <li>Partner</li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>CUSTOMER SERVICE</h3>
        <ul>
          <li>Payments</li>
          <li>Support</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>POLICIES</h3>
        <ul>
          <li>Refund Policy</li>
          <li>Privacy Policy</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
    </div>
  </div>  
  
</div>

 
</template>

<script>
export default {
  name: "Home",
};
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.footer-row{
    display: flex;
    padding: 50px 50px 50px 20px;
    margin-left: 65px;
    border-left: 1px solid;
    border-color: rgba(255,247,241,.22);
    text-align: left;
}
.footer-col{
    width: 30%;
}
.footer-col ul{
  list-style:none;
  padding-left: 0px;
}
.footer-col ul li{
  color: #54595f;
  line-height: 40px;
  font-family: montserrat,Sans-serif;
  font-size: 18px;
}
.top-anchor{
  float:right;
  color:white;
  
 }



.top-div{
   height:50px;
   background:#00003E;
   
   margin-top:-50px;
}
.top-div ul{
  display: flex;
  float: right;
  list-style:none;
  color: #fafafa;
  font-family: Sans-serif;
}
.top-div ul a{
  color:#fafafa;
  padding: 0 30px;
}

.middle2{
	background: red;
	height: 200px;
	
}

#container1 {
 
  height: 100%;
  width: 100%;
  display: flex;
  margin-top:20px;
  background: blue;
}

#leftPart{
	width: 52%;
	padding-top:120px;
	padding-left:40px;
	padding-right:40px;
}

#leftPart h1{
	color: white;
	font-size: 45px;
}
#leftPart a{
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
}
#rightPart{
	width: 48%;
	padding-top:30px;
	margin-right:20px;
}
#rightPart img{
	border-radius: 300px 100px 100px 100px;
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: .2em;
  align-items: center;
  text-align: center;
  border-bottom: 4px;
  background: white;
  height:50px;
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}  

.logo {
  grid-column: 1;
  background-image: url("https://i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/crisptag_logo_rectangle-2.png?w=566&ssl=1 566w, https://      i2.wp.com/saas.crisptag.com/wp-content/uploads/2020/08/crisptag_logo_rectangle-2.png?resize=300%2C93&ssl=1 300w");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 8vh;
  margin-top:10px;
}

.2 {
  grid-column: 2;
}

.3 {
  grid-column: 2;
}

.4 {
  grid-column: 2;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navLinks:hover {
 
  padding: 1em 1em;
}

#twist {
  color: blue;
}
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 30px 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
   /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 250px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*middle3 css */

.middle3{
   height:80px;
   background: white;
   width:100%;
   padding-top: 20px;
   
}

.inner-middle3{
	padding-bottom:20px;
	background: #6EC1E4;
	margin-left: 490px;
  margin-right: 490px;
	height: 40px;
}

.inner-middle3{
	text-align: center;
  padding-top:10px;
}
#text{
	color: white;
}

a:link {
  text-decoration: none;
}
.middle{
  height: 100%;
  width: 100%;
  display: flex;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top:20px;
  
}
#leftThing {
  width: 52%;
  
}
#leftThing img{
	border-radius:100px 100px 300px 100px;
}
#rightThing {
  width: 45%;
  padding-top:50px;
}

.second-heading{
	color:#0200dd;
	font-weight:300;
	text-transform: capitalize;
	line-height:1.2em;
}

.paragraph{
	color:#3d4459;
	font-size:16px;
	font-weight:400;
	line-height:1.4em;
	letter-spacing:.5px;

}
.card{
	background: white;
	
}
.column{
	border: none !important;
}
.card .img{
    background: white;
}

.card .title{
	background: white;
	color: inherit;
	border-bottom: 2px solid blue;
	width:60%;
	margin-left:60px;
	
}
.card .title h4{
	font-size:16px;
	font-weight:600px;
	margin-top:-3px;
	}
.card .img img{

  max-width: 150px;
  max-height:150px;
}


#container3 {
  
  height: 100%;
  width: 100%;
  display: flex;
  margin-top:20px;
  text-align:left;
  padding:6% 5% 10%;
  
  
}
#container3 #leftThing {
  width: 52%;
  
  padding-left:10px;
  
  
}
#container3 #leftThing img{
	border-radius:100px 100px 300px 100px;
}
#container3 #rightThing {
  width: 48%;
  padding-top:10px;
  padding-left:30px;
}

#container3 #leftThing #div1 h3{
	color:#00bcd4;
}
#container3 #leftThing #div1 h2{
	color:#3d4459;
	font-size:30px;
	margin-top:-6px;
	
	
}
#container3 #leftThing #div1 p{
	
	margin-top:-20px;
	
	
}

#container3 #leftThing #div2 h3{
	color:#00bcd4;
}
#container3 #leftThing #div2 h2{
	color:#3d4459;
	font-size:30px;
	margin-top:-6px;
	
	
}
#container3 #leftThing #div2 p{
	margin-top:-20px;
}

#container3 #leftThing #div3 h3{
	color:#00bcd4;
}
#container3 #leftThing #div3 h2{
	color:#3d4459;
	font-size:30px;
	margin-top:-6px;
}
#container3 #leftThing #div3 p{
	
	margin-top:-20px;
	
	
}
#container3 #leftThing #div4 h3{
	color:#00bcd4;
}
#container3 #leftThing #div4 h2{
	color:#3d4459;
	font-size:30px;
	margin-top:-6px;
	
	
}
#container3 #leftThing #div4 p{
	
	margin-top:-20px;
	
	
}
#container3 #leftThing #div5 h3{
	color:#00bcd4;
}
#container3 #leftThing #div5 h2{
	color:#3d4459;
	font-size:30px;
	margin-top:-6px;
	
	
}
#container3 #leftThing #div5 p{
	
	margin-top:-20px;
	
	
}

#container3 #rightThing{

}
#container3 #rightThing #img1 img{
	width:50%;
	border-radius: 300px 100px 100px 100px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.12);
	vertical-align: middle;
	display: inline-block;
	margin-left:200px;
}

#container3 #rightThing #img2 img{
	width:90%;
	border-radius: 100px 100px 300px 100px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.12);
	vertical-align: middle;
	display: inline-block;
	margin-left:8px;
	
}


.row1{
   text-align: center;
   display: flex;
   margin-top:50px;
}

.row1 .card1{
	margin-left:140px;
	background: blue;
	border:2px solid black;
	height:400px;
	width: 300px; 
}
.row1 .card2{
	margin-left:20px;
	background: red;
	border:2px solid black;
	height:400px;
	width: 300px;
}
.row1 .card3{
	margin-left:20px;
	background: green;
	border:2px solid black;
	height:400px;
	width: 300px; 
}

/* Style the counter cards */


.top-cards h1{
	font-size:50px;
	color:#0200dd;
	font-weight:40;
	text-align: center;
	margin-top:100px;
}

#1{
background:#555;
}
.footer{
  background:#d8d8e4;
}

</style>
